In [2]:
n = 5
for i in range(n, 0, -1):
    print(i)

5
4
3
2
1

In [4]:
n = 10

for i in range(0, n+1, 2):
    print(i)

0
2
4
6
8
10

In [7]:
n = 10

print("These are even n ", end=" ")
for i in range(0, n+1):
    if i % 2 == 0:
        print(i, end=" ")

These are even n  0 2 4 6 8 10

In [2]:
n=7
i=1
a=0
while i<n:
    i+=1
    if n%i==0:
        a+=1
        print("false")
        break
if a==0:
    print("true")

true

In [7]:
n = 16
for i in range(2,n):
    if n%i==0:
        print("not prime")
        break
else:
    print("prime")

not prime

-----------
Hello world
-----------


- [[1], [2], [3] .......[n]]


- [[0],[0,1], [0,1,2]....]

In [14]:
n = 100
sum = 0

for i in range(101):
    if i % 3 == 0 or i % 5 == 0:
           sum += i
print(sum)

2418

In [19]:
n = 5
sum = 0
prod = 1


for i in range(1, n+1):
    sum += i
    prod *= i

print(sum, prod)
print(prod - sum)

15 120
105

In [46]:
for i in range(1,6):
    if i==1 or i==5:
        print("5 "*5)
    if i==2 or i==4:
        print("5 ","4 "*3,"5", sep="")
    if i==3:
        print("5 ","4 ","3 ","4 ","5 ", sep="")

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

In [39]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [58]:
n = 5
for i in range(n):
    for j in range(n):
        print(max(n-i, n-j, i+1, j+1), end=" ")
    print()

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

In [59]:
a = 1
while a<=5:
    print(" " * (5-a)+ "*"*a)
    a = a + 1

    *
   **
  ***
 ****
*****

In [63]:

for a in range(1,6):
    print(" " * (5-a)+ "*"*a)
    a = a + 1

    *
   **
  ***
 ****
*****

In [71]:
a = 9

s = a*(1 + 11 + 111)

In [72]:
s

1107

In [73]:
s = "Hello world"
count = 0

for i in s:
    count += 1
    
print(count)

11

In [76]:
len(s)

11

In [77]:
a = "Hello_world"
id(a)

2271230769776

In [78]:
id("Hello" + "_" + "world")

2271230769776

In [79]:
a = "Hello world"
id(a)

2271229354160

In [80]:
id("Hello" + " " + "world")

2271230958064

In [81]:
s = "This is a tri2"

In [85]:
letters = 0
digits = 0


for i in s:
    if i.isalpha():
        letters += 1
    elif i.isdigit():
        digits += 1
        
print(letters, digits)

10 1

In [86]:
s = "hello"

In [87]:
s.upper()

'HELLO'

In [89]:
n="sjdsDJHGKJ"
a=0
b=0
for i in n:
    if i.islower():
        a+=1
    if i.isupper():
        b+=1
print(a,b)

4 6