# Some String Operations First

- split
- replace
- count
- Capitalize
- Title
- len()
- format

In [11]:
s = "sarthak bisht"
id(s)

2813981261680

In [9]:
brother = s.replace("a", "b")
id(brother)

2813977350064

In [10]:
brother

'sbrthbk bisht'

In [12]:
s.capitalize()

'Sarthak bisht'

In [13]:
s.title()

'Sarthak Bisht'

In [14]:
len(s)

13

In [2]:
# Conventional method

In [16]:
name = "Rahul"
age = 26

In [20]:
print("My name is", name, sep=" ", end=". ")
print("My age is", age, end=".")

My name is Rahul. My age is 26.

In [3]:
# Better way is
# %(string, int, float)

In [4]:
# Best way is
# format method

In [25]:
print("My name is {}. My age is {}.".format(age, name))

My name is 26. My age is Rahul.

In [26]:
print(f"Hello my name is {name} and my age is {age}.")

Hello my name is Rahul and my age is 26.

In [27]:
line = "I have {} car and model number is {}."

In [28]:
line.format("Honda", 2019)

'I have Honda car and model number is 2019.'

In [6]:
# Hurdle Do the square using format method

a = 3

In [29]:
name = "Aarohi"
age = 22.00000

In [36]:
print("My name is %s and age is %0.3f"%(name, age))

My name is Aarohi and age is 22.000

In [40]:
a = 22
sqrt = a ** 0.5

print("sqrt of %d is %0.5f"%(a, sqrt))

sqrt of 22 is 4.69042

In [45]:
line = "My name is Aarohi and age is 22.000"

In [46]:
line.replace("na", "fa")

'My fame is Aarohi and age is 22.000'

In [47]:
type(line)

str

# 1. List []

A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list.

The list of items should be enclosed in square brackets so that Python understands that you are specifying a list. Once you have created a list, you can add, remove or search for items in the list. Since we can add and remove items, we say that a list is a mutable data type i.e. this type can be altered.

In [36]:
## Generation of list and sublists

In [9]:
# Type, id(), len(), index()

In [49]:
l =  ["s", "h", 1, 24, 4, 5, 66]

In [50]:
type(l)

list

In [52]:
l[1]

'h'

In [60]:
l1 = [[123,34,45], [2,4]]

In [54]:
type(l1)

list

In [56]:
l1[3][0]

2

In [59]:
l1.index(2)

1

In [10]:
# identity and quantity
# a is b means they are having same mem address

In [69]:
l = [1,4,5,6,7.0, "Rahul"]
id(l)

2813981781256

In [70]:
1 in l

True

In [67]:
l[0] = 2

In [71]:
print(l)
id(l)

[1, 4, 5, 6, 7.0, 'Rahul']

2813981781256

### Basic operations on list

In [13]:
# Concatenation of two lists, +, mul(*)

In [72]:
[1,2,4,55] + [1234,5,6,6]

[1, 2, 4, 55, 1234, 5, 6, 6]

In [74]:
l1 = [1,2,4,55]
l2 = [1234,5,6,6]

In [75]:
l1 + l2

[1, 2, 4, 55, 1234, 5, 6, 6]

In [1]:
l3 = ['*', '*']

In [2]:
type(l3)

list

In [6]:
 l4 = l3 * 3

In [7]:
l4

['*', '*', '*', '*', '*', '*']

In [15]:
## Membership check, a in b

In [16]:
# lists are iterable

In [8]:
fruits = ["Apple", "Mango", "Orange"]

In [14]:
for harish in fruits:
    print(harish, end=" -tara rara ra- ")

Apple -tara rara ra- Mango -tara rara ra- Orange -tara rara ra-

In [20]:
# Using len func,iteration

In [15]:
len(fruits)

3

### Indexing and slicing a list

In [30]:
l = [0,1,2,3,4]

In [31]:
l[0]

0

In [32]:
l[-1]

4

In [33]:
len(l)

5

In [22]:
# l[::], reverse order, forward order, jump

In [27]:
l[:]

[0, 1, 2, 3, 4]

In [34]:
l[0:3]

[0, 1, 2]

In [37]:
l2 = l[0::2]

In [38]:
l2

[0, 2, 4]

In [36]:
l

[0, 1, 2, 3, 4]

In [45]:
l[5::-1]

[4, 3, 2, 1, 0]

### Updating a list
- insert
- append
- extend

In [121]:
l = [0,1,2,3,4]

In [25]:
a = id(l)
print(a)

2332832663304

In [26]:
# append inserts an element in list at end of list

In [49]:
l.append("Rahul")

In [50]:
l

[0, 1, 2, 3, 4, 'Rahul']

In [27]:
# Insert inserts an element before the given index in a list
# Here only object is updated no new obj is created


#insert(index, element)

In [52]:
l.insert(2, "inserted")

In [53]:
l

[0, 1, 'inserted', 2, 3, 4, 'Rahul']

In [78]:
## extend: extends a list by iteration

In [115]:
l2 = ["Ram", "Shyam", "Raju"]

In [118]:
l.extend(l2)

In [117]:
l

[0, 1, 2, 3, 4]

In [124]:
l.append(l2)

In [125]:
l

[0, 1, 2, 3, 4, 23, ['Ram', 'Shyam', 'Raju']]

### Deleting elements in a list
- **pop**  :    removes an element from last index
- **remove** :    Removes an element from given index

In [28]:
# Removes an element the number of times the pop command is executed

In [128]:
l = [0,1,2,3,4]

In [87]:
l.pop()

4

In [130]:
l.remove(2)

In [90]:
l

[0, 1, 2, 4]

### Sorting and reversing
- sort and sorted
- reverse and reversed

In [91]:
l = [2,3,4,5,1]
print(id(l))

2260223981000

In [29]:
# Sorted only sorts a list at runtime and doesnt update the value at memory address.

# sorted(l)

In [96]:
l2 = sorted(l)

In [95]:
print(l)
id(l)

[2, 3, 4, 5, 1]

2260223981000

In [97]:
l2

[1, 2, 3, 4, 5]

In [30]:
# sort method sorts the list and also updates the value of updated list

In [98]:
l

[2, 3, 4, 5, 1]

In [102]:
l.sort(reverse=True)

In [103]:
l

[5, 4, 3, 2, 1]

In [31]:
# Reversed method doesnt update the value at the memory address

#list(reversed(l))

In [34]:
# reverse this method updates the value at memory address

In [82]:
# Creating list through input function

In [113]:
l = input().split()
print(l)
type(l)

 2 4 5 6

['2', '4', '5', '6']

list

In [108]:
s = "2 3 4 5 6"

In [111]:
s.split()

['2', '3', '4', '5', '6']

# 2. Tuples
Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you. One major feature of tuples is that they are immutable like strings i.e. you cannot modify tuples.

Tuples are defined by specifying items separated by commas within an optional pair of parentheses.

Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used **will not change**.

In [196]:
t = (1, 2, "Home")

In [197]:
type(t)

tuple

In [198]:
t.count(1)

1

In [199]:
t.index(2)

1

In [204]:
# Tuples are iterable too

for i in t:
    print(i)

1
2
Home

#### List to tuple and tuple to list..
- Updating a tuple by list

In [200]:
l = list(t)

In [201]:
l

[1, 2, 'Home']

In [202]:
# Now we can perform all the functions that we could have been applied to a tuple

### But...but I like Lists...

- **Storage** : In CPython, tuples are stored in a single block of memory, so creating a new tuple involves at worst a single call to allocate memory. Lists are allocated in two blocks: the fixed one with all the Python object information and a variable sized block for the data.

- **Indexing** : Tuples are faster than lists. Tuples directly reference their elements where as lists have an extra layer of indirection to an external array of pointers.

- **Safety** : It makes your code safer if you “write-protect” data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that this data is constant, and that special thought (and a specific function) is required to override that

# 3. Dictionary

- A dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e. we associate keys (name) with values (details). Note that the key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.

- Remember that key-value pairs in a dictionary are not ordered in any manner.

In [83]:
## Dict through zip method

#### Some important dict methods

- get()
- items()
- keys()
- values()
- clear()

### And yeah, keys of dict can be any immutable object, so...

sets are coming

### Challenge

Write a simple Python program which inputs and stores the data about university students as a list of dictioaries. Your final record structure should look like this:

 [
     {
         'roll-no': 1211,
         'name': 'Ravi',
         'branch': 'CSE'
     },
     {
         'roll-no': 202,
         'name': 'Abhishek',
         'branch': 'SE'
     },
     {
         'roll-no': 1202,
         'name': 'Sachin',
         'branch': 'IT'
     }
 ]

# 4. Sets

Sets are unordered collections of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occurs.

Using sets, you can test for membership, whether it is a subset of another set, find the intersection between two sets, and so on.

In [60]:
# update, remove, union, intersection
# it updates by iterating over an object

In [30]:
s = {"ram", 2, 4, 5}
print(id(s))

1287190385384

In [65]:

print(id(s))

1287190988168

In [29]:
s

{2, 4, 5, 'a', 'h', 'm', 'ram', 's'}

In [33]:
s = set([2,3,4,5,23,2,3,"Ram"])

In [34]:
s

{2, 23, 3, 4, 5, 'Ram'}

In [35]:
s.remove("Ram")

In [36]:
s

{2, 3, 4, 5, 23}

In [40]:
s

{2, 23, 3, 4, 5, 'R', 'a', 'm'}

In [38]:
s

{2, 23, 3, 4, 5, 'R', 'a', 'm'}

In [52]:
a = set()

In [53]:
b = a

In [54]:
c = a

In [55]:
a.update("happy")

In [56]:
a = a.union("bill")

In [57]:
a

{'a', 'b', 'h', 'i', 'l', 'p', 'y'}

In [58]:
b

{'a', 'h', 'p', 'y'}

In [59]:
c

{'a', 'h', 'p', 'y'}

In [61]:
s = {1,2,34,4}

In [62]:
print(id(s))

1287190988168

In [63]:
s.add(9)

In [64]:
print(id(s))
s

1287190988168

{1, 2, 4, 9, 34}

In [72]:
s = set([4,5,6])

In [73]:
s

{4, 5, 6}

In [74]:
s.add("Ram")

In [75]:
s

{4, 5, 6, 'Ram'}

In [76]:
s.update("ram")

In [77]:
s

{4, 5, 6, 'Ram', 'a', 'm', 'r'}